

.table1{
    margin-left:21%;
    margin-right:20%;
    margin-bottom:5px;
    padding:20px;
    line-height: 2.2;
    border: 4px solid palegreen ;
    color: ;
    background-color:#ECF9F8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    box-shadow: 10px 10px 10px #6193b5;
    box-shadow: 10px 10px 10px #6193b5;
}
.table2{
    margin-left:15%;
    margin-right:15%;
    margin-bottom:5px;
    padding:20px;
    line-height: 2.2;
    border: 3px solid blue ;
    background-color:#83c2bc;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    border-radius:10px;
    box-shadow: 10px 10px 10px #6193b5;
}

.inside_tab{
    /* margin-left:37%; */
    text-align:center;
}
.btn{
    margin-left: 32%;
    line-height: 2;
    margin-top:30px;
}
.btn2{
    margin-left: 15%;
    line-height: 2;
    margin-top:10px;
}

body{
    background-color:;
}

.head1{
    margin:0%;
    padding: 0%;
    background-color:blue;
    border-radius:10px;
    margin-bottom:20px;
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.collegeavestudentloans.com%2Fresources%2Fgrants%2F&psig=AOvVaw3o0FmerTd8-SJ-fkbB678Q&ust=1644911793358000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCJDP2ZHc_vUCFQAAAAAdAAAAABAD);
}
